*
{
    margin: 0;
    padding: 0;
}

.hero_section
{
    background-image: url(image/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16pc 40px;
}